# from __future__ import print_function

# from tensorflow.keras.datasets import cifar10
import numpy as np
import pandas as pd
import os, sys, wget
import math
import datetime
import seaborn as sns
import zipfile
from zipfile import ZipFile
import random

import tensorflow as tf
import tensorflow.keras
from tensorflow.keras.models import load_model
import tensorflow_datasets as tfds
from tensorflow.python.keras.layers import Input, Dense
from tensorflow.keras import layers, Model
from tensorflow.keras.callbacks import ModelCheckpoint, LearningRateScheduler, EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.utils import to_categorical
from tensorflow.compat.v1 import ConfigProto
from tensorflow.compat.v1 import InteractiveSession

from sklearn import preprocessing
from sklearn.utils import shuffle


from scipy.stats import randint
import matplotlib.pyplot as plt

from scipy.stats import randint
from tensorflow.keras.layers import Dense, Flatten
from sklearn.model_selection import cross_val_score
from sklearn import metrics
import torch
from torchvision import transforms
from torch.utils.data import Dataset

from bs4 import BeautifulSoup
import requests
import re
import csv

# from transformers import AutoTokenizer, RobertaForQuestionAnswering
# from transformers import BertForQuestionAnswering, BertTokenizer

# from transformers import pipeline
# from transformers import BlipProcessor, BlipForQuestionAnswering
